<h1>Play with:</h1>
	<br>
	<br>
	<%= button_to('Men', play_male_path, :method => :get, :class => 'btn btn-primary btn-lg') %>
	<br>
	<br>
	<%= button_to('Women', play_female_path, :method => :get, :class => 'btn btn-primary btn-lg') %>
